// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ff6600;          // Naranja principal
  --ion-color-primary-rgb: 255, 102, 0; // Versión RGB
  --ion-color-primary-contrast: #ffffff; // Color del texto encima
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e65c00;   // Sombra más oscura
  --ion-color-primary-tint: #ff8533;    // Tono más claro
}
